
.home{
    height: calc(100vh - 100px);
    align-items: center;
  }
  .rightCode {
    width: 100px;
    /* z-index: 1  ; */
    /* position: relative; */
    /* background: linear-gradient(45deg, #4D5BCE, #43D9AD); */

  }

  .color1{
    position: absolute;
    top: 30%;
    right: 35%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #43d9ac65;
  }
  .color2{
    position: absolute;
    top: 50%;
    right:  30% ;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #4d5cce7a;
  }

  @media(max-width:768px){
    .rightCode{
      display: none;
    }
    .leftText{
      margin-left: 10px;
    }
  }
  