input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #64748b;
    border-radius: 4px;
    margin-right: 10px;
    background-color: transparent;
    cursor: pointer;
}
input[type="checkbox"]:hover{

    border-color: #0ea5e9;
}

input[type="checkbox"]:checked {
    background-color: #64748b;
    border-color: #0ea5e9;
    display: grid;
    place-items: center;
}

input[type="checkbox"]:checked::after {
    content: "✔";
    color: #fff;
    font-size: 10px;
}

.projects{
    margin-top: 40px;
    width: calc(100vw - 100px);
    height: calc(100vh - 150px);
    overflow-y: scroll;
}


/* hide scroll bar */
.projects {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  .projects::-webkit-scrollbar {
    display: none;
  }
  
