.nav {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0;
    color: #607B96;
    ;
}

.nav li {
    display: flex;
    align-items: center;
    margin: 0 5px 0;
    cursor: pointer;
    color: #607B96;
}

.nav li:hover {
    color: #fff;

}

.menu {
    display: flex;
    align-items: center;
}

.menu-right {
    margin: 0 90px 0;
    display: flex;
}

.mobile,.mobile-card {
    display: none;
}


/* General Navbar Styles */




.separator {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.separator1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
}

.separator::before {
    content: '';
    display: block;
    width: 1.5px;
    height: 50px;
    background-color: #1E2D3D;
    align-items: center;
}

.separator1::before {
    content: '';
    display: block;
    width: 1.5px;
    height: 40px;
    background-color: #1E2D3D;
    align-items: center;
}

/* Active Item Styling */
.menu-item.active {
    position: relative;
    color: #fff;
}

.menu-item.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #f39c12;
}


.menu-item:hover {
    color: #f39c12;
}

.def-hr {
    border: none;
    height: 1px;
    background-color: #607B96;
}


.active {
    color: #f39c12;
}


@media(max-width:768px) {
    .mobile {
        display: block;
        position: relative;
    }
    /* card css */
    .mobile-card{
        display: block;
    }

    .mobile.open {
        display: block;
        height: 100vh;
        /* overflow: hidden; */
        /* background-color: #1E2D3D; */
    }

    .mobile.closed {
        display: block;
        height: auto;
        overflow: visible;
    }

    .desktop {
        display: none;
    }

    .mobile-nav li {
        display: flex;
        align-items: center;
        margin: 0 5px 0;
        cursor: pointer;
        color: #607B96;
        height: 40px;
    }

    .mobile-nav-icon {
        font-size: 24px;
    }

    .mobile-footer {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        width: 100%;

    }

    .mobile-footer li {
        display: flex;
        align-items: center;
        margin: 0 5px 0;
        cursor: pointer;
        color: #607B96;
        height: 40px;
    }


}