
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

*{
  font-family: fira code;
  background-color: rgba(1, 22, 39, 1);
  ;
  color: wheat;
}

/* For Modern Browsers */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}


